.writtenText{
    font-size: 1.3rem;
}

.flex-container{
    display: flex;
    margin-top: 20px;
    flex-wrap: nowrap;
    width: 100%;
    height: 500px;
    justify-content: center;
    transition: 2s all ease;
}

.flex-item{
    background: cyan;
    border: 1pt solid black;
    transition: 0.1s all ease;
}